**/exp1/align_exp/
**/exp1/test.en
**/exp1/train.en
**/exp1/train.hi
**/exp1/test.hi
**/exp1/train.hi.model
**/exp1/train.en.model
**/exp1/ver1/*.model
**/exp1/ver1/output_values
**/exp1/ver1/cor.*
!**/exp1/ver2/*.py
!**/exp1/ver3/*.py
!**/exp1/ver4/*.py
!**/exp1/ver5/*.py
!**/exp2/ver1/*.py
!**/exp2/*.py
!**/exp2/ver_1_exp2/*.py
!**/exp1/ver5_exp1/*.py
!**/exp3/ver1/*.py
